{% extends "layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load auth_extras %}
{% load proper_paginate %}
{% load url_replace %}


{% block title %} Create Log {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block extra_head %}

{% endblock %}


{% block content %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'issue_log:issue-list' %}">Issue logs</a></li>
              <li class="breadcrumb-item active" aria-current="page">Create Log</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Create Log</h1>
              {% comment %} <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p> {% endcomment %}
          </div>
          <div>
          </div>
      </div>
  </div>


   <div class="row">
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-body"> 
                    <form method="post">
                        
                        {% csrf_token %}

                        {{ form.media.js }}
                        {% comment %} {{ form.media }} {% endcomment %}
                        
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        

            

                        <!-- First Row -->
                            <div class="row mb-4">
                                <div class="col-lg-2 col-sm-2">
                                    <label for="{{ form.user.id_for_label }}">{{ form.user.label }}</label>
                                    {% render_field form.user class="form-control" placeholder=form.user.label %}

                                    <div class="{% if form.user.errors %} invalid{% endif %}">
                                    {% for error in form.user.errors %}
                                    <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2">

                                   
                                    {% render_field form.personel_assinged.as_hidden %}

                                  
                                </div>

                                </div>
                          
                            <!-- End first Row -->

                            <!-- Second row -->
                            <div class="row mb-4">
                                <div class="col-lg-2 col-sm-2">
                                  

                                    <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
                                    {% render_field form.category class="form-control" placeholder=form.category.label %}

                                    <div class="{% if form.category.errors %} invalid{% endif %}">
                                    {% for error in form.category.errors %}
                                    <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2">
                                   
                                    <label for="{{ form.sub_category.id_for_label }}">{{ form.sub_category.label }}</label>
                                    {% render_field form.sub_category class="form-control" placeholder=form.sub_category.label %}

                                    <div class="{% if form.sub_category.errors %} invalid{% endif %}">
                                    {% for error in form.sub_category.errors %}
                                    <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                    </div>

                                </div>
                                <div class="col-lg-2 col-sm-2">
                                
                                    <label for="{{ form.mini_category.id_for_label }}">{{ form.mini_category.label }}</label>
                                    {% render_field form.mini_category class="form-control" placeholder=form.mini_category.label %}

                                    <div class="{% if form.mini_category.errors %} invalid{% endif %}">
                                    {% for error in form.mini_category.errors %}
                                    <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                    </div>

                                </div>
                            </div>
                            <!-- End Second row -->

                            <!-- Third Row -->
                            <div class="row mb-4">
                                <div class="col-lg-4 col-sm-4">
                                   

                                    <label for="{{ form.issue.id_for_label }}">{{ form.issue.label }}</label>
                                    
                                    {% render_field form.issue class="form-control" placeholder=form.issue.label %}

                                    <div class="{% if form.issue.errors %} invalid{% endif %}">
                                    {% for error in form.issue.errors %}
                                    <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                    </div>

                                </div>
                                <div class="col-lg-2 col-sm-2">
                                  

                                    <label for="{{ form.priority.id_for_label }}">{{ form.priority.label }}</label>
                                    {% render_field form.priority class="form-control" placeholder=form.priority.label %}

                                    <div class="{% if form.priority.errors %} invalid{% endif %}">
                                    {% for error in form.priority.errors %}
                                    <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                    </div>

                                </div>
                               
                            </div>
                            <!-- End third row -->
                            <!-- Fourth Row -->
                            <div class="row mb-4">
                                <div class="col-lg-2 col-sm-2">
                                   

                                    <label for="{{ form.issue_date.id_for_label }}">{{ form.issue_date.label }}</label>
                                    {% render_field form.issue_date class="form-control" placeholder=form.issue_date.label %}

                                    <div class="{% if form.issue_date.errors %} invalid{% endif %}">
                                    {% for error in form.issue_date.errors %}
                                    <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                    </div>

                                </div>
                                <div class="col-lg-2 col-sm-2">

                                    <label for="{{ form.due_date.id_for_label }}">{{ form.due_date.label }}</label>
                                    {% render_field form.due_date class="form-control" placeholder=form.due_date.label %}

                                    <div class="{% if form.due_date.errors %} invalid{% endif %}">
                                    {% for error in form.due_date.errors %}
                                    <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                    </div>

                                </div>
                                
                                <div class="col-lg-2 col-sm-2">

                                    <label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label>
                                    {% render_field form.status class="form-control" placeholder=form.status.label %}

                                    <div class="{% if form.status.errors %} invalid{% endif %}">
                                    {% for error in form.status.errors %}
                                    <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                    </div>

                                </div>
                            </div>
                            <!-- End 4th row -->

                            <!-- 5th row -->
                            <div class="row mb-4">
                                
                                
                            </div>
                            <!-- End 5th row -->
                            <!-- 6th row -->
                            <div class="row mb-4">
                                
                                <div class="col-lg-5 col-sm-5">
                                  

                                    <label for="{{ form.comments.id_for_label }}">{{ form.comments.label }}</label>
                                    {% render_field form.comments class="form-control" placeholder=form.comments.label %}

                                    <div class="{% if form.comments.errors %} invalid{% endif %}">
                                    {% for error in form.comments.errors %}
                                    <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                    </div>

                                </div>
                            </div>
                        <!-- end 6th row  -->

<a href="{% url 'issue_log:issue-list' %}" type="submit" class="btn btn-warning btn-sm">Cancel </a>
<button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </form>
              


              </div>
           </div>
       </div>
    </div>
 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script>
    $(function () {
      $("#datepicker").datepicker();
    });
  </script>
{% endblock javascripts %}
