{% extends "layouts/base.html" %}
{% load widget_tweaks %}
{% load auth_extras %}
{% load my_tags %}
{% load proper_paginate %}
{% load url_replace %}


{% block title %} Logs {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="py-4">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="#">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                </a>
            </li>
            
            <li class="breadcrumb-item active" aria-current="page">Issue Logs</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Issue Logs</h1>
            <a href="{% url 'issue_log:create-issue' %}" class="btn btn-info" type="button">Add New</a>
            

          <a class="btn btn-primary " data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Filters</a>
            <!-- <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p> -->
        </p>
            <div class="row">
               
                  <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                     
                    <form method="get">

                        <div class="row">
                            <div class="form-group col-md-2">
                                {{ issues_filters.form.date_range.label_tag }}
                                {% render_field issues_filters.form.date_range class="form-control" %}
                            </div>
                            
                            <div class="form-group col-md-2">
                                 {{ issues_filters.form.user.label_tag }}
                                 {% render_field issues_filters.form.user class="form-control" %}
                            </div>

                            <div class="form-group col-md-2">
                                {{ issues_filters.form.personel_assinged.label_tag }}
                                {% render_field issues_filters.form.personel_assinged class="form-control" %}
                           </div>

                           <div class="form-group col-md-2">
                                {{ issues_filters.form.equipment_type.label_tag }}
                                {% render_field issues_filters.form.equipment_type class="form-control" %}
                            </div>

                            <div class="form-group col-md-2">
                                {{ issues_filters.form.equipment_make.label_tag }}
                                {% render_field issues_filters.form.equipment_make class="form-control" %}
                            </div>

                            <div class="form-group col-md-2">
                                {{ issues_filters.form.equipment_brand.label_tag }}
                                {% render_field issues_filters.form.equipment_brand class="form-control" %}
                            </div>

                            <div class="form-group col-md-2">
                                {{ issues_filters.form.equipment_model.label_tag }}
                                {% render_field issues_filters.form.equipment_model class="form-control" %}
                            </div>

                            <div class="form-group col-md-2">
                                {{ issues_filters.form.priority.label_tag }}
                                {% render_field issues_filters.form.priority class="form-control" %}
                            </div>


                            <div class="form-group col-md-2">
                                {{ issues_filters.form.status.label_tag }}
                                {% render_field issues_filters.form.status class="form-control" %}
                            </div>


                        </div>
                        <br />
                        
                        <button type="submit" class="btn btn-primary btn-sm"> Search </button>
                    </form>
                        </div>
                    </div>
                
            </div>
        </div>

        
        
       
    </div>
</div>




<div class="card border-0 shadow mb-4">
    
    <div class="card-body">
        
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0 rounded-start">User</th>
                        <th class="border-0">Type</th>
                        <th class="border-0">Make</th>
                        <th class="border-0">Brand</th>
                        <th class="border-0">Model</th>
                        <th class="border-0">Issue</th>
                        <th class="border-0">Personel</th>
                        <th class="border-0">Priority</th>
                        
                        <th class="border-0">Issue Date</th>
                        <th class="border-0">Due Date</th>
            <!-- <th class="border-0"></th> -->
                        <th class="border-0 rounded-end">Comments</th>
                        <th class="border-0">Status</th>
                    </tr>
                </thead>
                <tbody>
            <!-- Item -->
                    {% for i in issues_filter %}
                    <tr>
                        <td>{{ i.user }}</td>
                        <td>{{ i.equipment_type }}</td>
                        <td>{{ i.equipment_make }}</td>
                        <td>{{ i.equipment_brand }}</td>
                        <td>{{ i.equipment_model }}</td>
                        <td>{{ i.issue }}</td>
                        <td>{{ i.personel_assinged }}</td>
                        <td>{{ i.priority }}</td>
                        <td>{{ i.issue_date }}</td>
                        <td>{{ i.due_date }}</td>
                        <td>{{ i.comments }}</td>
                        <td>
                        {% if i.status == 'OPEN' %}
                        <button class="btn btn-danger" type="button">OPEN</button>
                        {% elif i.status == 'CLOSED' %}
                        <button class="btn btn-success" type="button">CLOSED</button>
                        {% endif %}
                        </td>
                    </tr>
            <!-- End of Item -->
                    {% endfor %}
            
                </tbody>
            </table>
        </div>
        <br/>
        {%	include	"pagination.html"	with	page=issues_filter	%}
        </div>
    
    </div>
   
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
